* {
  padding: 0;
  margin: 0;

}

.bg {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.sign-left {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-imgbox {
  position: relative;
  width: 70%;
  overflow: hidden;                
  border-radius: 50% 0 50% 0;
  background-color: transparent;   
}

.sign-imgbox img {
  width: 100%;
  height: 470px;
  object-fit: cover;
  display: block;                  
}



.right {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightinbox {
  width: 70%;
}

.social {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.button {
  width: 100%;
  height: 42px;
  border: 1px solid rgb(153, 150, 150);
  background-color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.icon6 {
  font-size: 20px;
}

.icon2 {
  font-size: 18px;
  color: skyblue;
}
.icon3{
  font-size: 25px;
}
.divider {
  text-align: center;
  font-size: 14px;
  color: grey;
  margin: 15px 0;
}

.line {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  background-color:rgb(221, 215, 215);
  border: none;
}
.box {
  width: 100%;
  height: 42px;
  border: none;
  background-color:rgb(221, 215, 215);
  border-radius: 6px;
  padding-left: 12px;
  font-size: 14px;
  border: none;
}

.box:focus {
  outline: none;
}

.button1 {
  background: none;
  border: none;
  color: rgb(22, 47, 83);
  text-align: right;
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
}

.bottom {
  width: 100%;
  height: 45px;
  border: none;
  background-color: rgb(22, 47, 83);
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.signup {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
.condition{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  gap: 15px;
  margin-bottom: 15px;
}

.button2 {
  border: none;
  background: none;
  color: #1c4e80;
  cursor: pointer;
}

@media (max-width: 900px) {
  .bg {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }

  .imgbox img {
    border-radius: 20px;
  }

  .overlay {
    border-radius: 20px;
  }

  .rightinbox {
    width: 85%;
    margin-top: 30px;
  }
}
